
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.eresearch_community_site }}"><img src="{{ site.github.url | replace_first: 'http:', 'https:' }}/assets/img/Logo-Cer-Community-large.svg" alt="Software Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
   The 
   <a href="{{ site.eresearch_community_site: "http://www.community.eresearch.auckland.ac.nz" }}">eResearch Community</a>
   is a subgroup of the  <a href="{{ site.eresearch_community_centre_site: " http://www.eresearch.auckland.ac.nz/" }}">center for eResearch</a> that aims to promote education in digital skills for the Research community at the University of Auckland.
   To this end, the eResearch community provides workshops in High performance computing, R programming, matlab, python, high performance computing to name a few.
   
  </div>
</div>
<br/>



