<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.eresearch_community_site }}"><img src="{{ site.github.url | replace_first: 'http:', 'https:' }}/assets/img/swc-icon-blue.svg" alt="Software Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    Since 1998,
    <a href="{{ site.eresearch_community_site: "http://www.community.eresearch.auckland.ac.nz/welcome/" }}">Software Carpentry</a>
    has been teaching researchers in science, engineering, medicine, and related disciplines
    the computing skills they need to get more done in less time and with less pain.
    Its volunteer instructors have run hundreds of events
    for thousands of learners in the past two and a half years.
  </div>
</div>
<br/>



