<hr/>
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h7>
	Copyright &copy; 2016
	<a href="{{ site.eresearch_centre_site }}">Centre for eResearch</a>,
	University of Auckland
	<a href="{{ site.full_licence_site }}">CC-BY 4.0</a>
	adapted from
	<a href="{{ site.swc_site }}">Software Carpentry.</a>   
     </h7>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.github.repository_url }}/">Source</a>
	/
	<a href="{{ site.github.repository_url }}/blob/gh-pages/CONTRIBUTING.md">Contributing</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
